extends /layouts/main
include /mixins/blog

block content
  
  section.welcome
    .welcome-background
    .text-vertical-center(style="padding-left: 3%;")
      h1 
        | <span>Small</span>Batch 
        br
        span Web Design